In [1]:
#Import requied modules
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the GT&E data from .csv file and filter the GPN's according to the Opslist
#TimeData = pd.read_csv("GTE Extract.csv",encoding = 'ISO-8859-1')
TimeData = pd.read_csv("GTE Extract Present 09November2018 - 07December2018.csv",encoding = 'latin-1',error_bad_lines = False, sep=',')
TimeData['Transaction Week End Date'] = TimeData['Transaction Week End Date'].apply(pd.to_datetime, infer_datetime_format=True)
TimeData['Transaction Week End Date'] = TimeData['Transaction Week End Date'].apply(pd.Timestamp)
TimeData.head()

,GPN,Person Name/Code,Person SSL Code,Person Sub Area,Person SL Name/Code,Person SSL Name/Code,Person BU Name/Code,Person OU Name/Code,Person MU Name/Code,Person SMU Name/Code,...,Eng Type Name,Eng Type Class Name,Eng SL Name/Code,Eng SSL Name/Code,Eng BU Name/Code,Eng OU Name/Code,Eng MU Name/Code,Eng SMU Name/Code,Description (Trax gT&E),HRS
0,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,Non-Chargeable,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5
1,GB012020941,"""Solanki,Chloe (GB012020941)""",207,UK&I,TAX (02),"""Business Tax Advisory (BTA) (0207)""",UKI - UK Tax (GB102),Capital Allowances (29362),London (00207),BTA Standard Services-Generic (0207001),...,Non-Chargeable,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""study leave""",7.0
2,GB012020941,"""Solanki,Chloe (GB012020941)""",207,UK&I,TAX (02),"""Business Tax Advisory (BTA) (0207)""",UKI - UK Tax (GB102),Capital Allowances (29362),London (00207),BTA Standard Services-Generic (0207001),...,Non-Chargeable,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""study leave""",7.0
3,GB012020941,"""Solanki,Chloe (GB012020941)""",207,UK&I,TAX (02),"""Business Tax Advisory (BTA) (0207)""",UKI - UK Tax (GB102),Capital Allowances (29362),London (00207),BTA Standard Services-Generic (0207001),...,Non-Chargeable,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""study leave""",7.0
4,GB012020864,"""Colley,James (GB012020864)""",299,UK&I,TAX (02),"""Other Tax (0299)""",UKI - UK Tax (GB102),Core (29079),United Kingdom (00195),Tax Technology Transformation (0299062),...,Non-Chargeable,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""TPE leave""",3.5

In [3]:
Opslist = pd.read_csv("Tax GPN.csv",encoding = 'latin-1',error_bad_lines = False,sep=',')
Opslist.head()

           GPN               NAME               Codeblock
0  GB01016509C        Short,Jason  GB10229373001950203001
1  GB01016531H      Hooper,Claire  GB10229079001950299039
2  GB01016535M  Westbrooke,Nicola  GB10201237001950203001
3  GB01047266G       Young,Claire  GB10201006001950208001
4  GB01048451B      Ault,Virginia  GB10229079001950299039

In [4]:
# Sub-service lines which has below 30 samples are being removed.
TimeData = TimeData.loc[(TimeData['Person SSL Name/Code'] != '"Brand,Market&Communications (0903)"') & (TimeData['Person SSL Name/Code'] != 'Other Assurance (0199)') & (TimeData['Person SSL Name/Code'] != 'CT-Valuation & Bus Modeling (0706)') & (TimeData['Person SSL Name/Code'] != 'CT-Lead Advisory (0701)') & (TimeData['Person SSL Name/Code'] != 'Risk (0304)') & (TimeData['Person SSL Name/Code'] != 'PI (0316)') & (TimeData['Person SSL Name/Code'] != 'Audit (0101)')]
TimeData.loc[(TimeData['Person SMU Name/Code'] == 'Corporate Law (0299431)'),'Person SSL Name/Code'] = 'Corporate Law (0299431)'

In [5]:
FinalTimeData=pd.merge(TimeData, Opslist, on='GPN', how='inner')
FinalTimeData.head()

,GPN,Person Name/Code,Person SSL Code,Person Sub Area,Person SL Name/Code,Person SSL Name/Code,Person BU Name/Code,Person OU Name/Code,Person MU Name/Code,Person SMU Name/Code,...,Eng SL Name/Code,Eng SSL Name/Code,Eng BU Name/Code,Eng OU Name/Code,Eng MU Name/Code,Eng SMU Name/Code,Description (Trax gT&E),HRS,NAME,Codeblock
0,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,"Brown,Zoe",GB10201006001950208001
1,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",3.8,"Brown,Zoe",GB10201006001950208001
2,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,"Brown,Zoe",GB10201006001950208001
3,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,"Brown,Zoe",GB10201006001950208001
4,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,TAX (02),Global Compl&Reporting (GCR) (0208),UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),"""Draft email for Jessica""",0.6,"Brown,Zoe",GB10201006001950208001

In [6]:
FinalTimeData = FinalTimeData.drop(FinalTimeData.columns[[33]], axis=1)   #Dropping column "Name"
TimeData = FinalTimeData
TimeData.head()

,GPN,Person Name/Code,Person SSL Code,Person Sub Area,Person SL Name/Code,Person SSL Name/Code,Person BU Name/Code,Person OU Name/Code,Person MU Name/Code,Person SMU Name/Code,...,Eng Type Class Name,Eng SL Name/Code,Eng SSL Name/Code,Eng BU Name/Code,Eng OU Name/Code,Eng MU Name/Code,Eng SMU Name/Code,Description (Trax gT&E),HRS,Codeblock
0,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,GB10201006001950208001
1,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",3.8,GB10201006001950208001
2,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,GB10201006001950208001
3,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,GB10201006001950208001
4,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,CHARGEABLE,TAX (02),Global Compl&Reporting (GCR) (0208),UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),"""Draft email for Jessica""",0.6,GB10201006001950208001

In [7]:
TimeData['Person SSL Name/Code'].value_counts()

"International Tax Srvs (ITS) (0203)"    42840
"Global Compl&Reporting (GCR) (0208)"    35490
"Transaction Tax (0211)"                 27989
"Business Tax Advisory (BTA) (0207)"     20971
"Indirect Tax (0201)"                    20877
Corporate Law (0299431)                   7193
"Other Tax (0299)"                        3930
"Tax ACR (0217)"                          3027
"People Advisory Services (0206)"           12
Name: Person SSL Name/Code, dtype: int64

In [8]:
TimeData['Person SSL Name/Code'].nunique()

9

In [9]:
TimeData.groupby('Person SSL Name/Code')['GPN'].nunique()

Person SSL Name/Code
"Business Tax Advisory (BTA) (0207)"     173
"Global Compl&Reporting (GCR) (0208)"    233
"Indirect Tax (0201)"                    165
"International Tax Srvs (ITS) (0203)"    343
"Other Tax (0299)"                        74
"People Advisory Services (0206)"          1
"Tax ACR (0217)"                          53
"Transaction Tax (0211)"                 234
Corporate Law (0299431)                   64
Name: GPN, dtype: int64

In [10]:
TimeData['GPN'].nunique()

1340

In [11]:
TimeData.shape

(162329, 34)

In [12]:
#Find the unique count employees with "  #TR tag" usage via Time Recorder application till date.
TimeData1 = TimeData[TimeData['Description (Trax gT&E)'].str.contains("  #TR",na=False)]
#TimeData1.to_csv("GTE Extract_TRtagusers1.csv",index = False)
TimeData1['GPN'].shape

(20299,)

In [13]:
#Find the unique count employees with "#TR tag" usage via Time Recorder application till date.
TimeData2 = TimeData[TimeData['Description (Trax gT&E)'].str.contains("#TR",na=False)]
#TimeData2.to_csv("GTE Extract_TRtagusers2.csv",index = False)
TD2 = TimeData2['GPN']
TD2.shape

(20969,)

In [14]:
UniqueGPN=TimeData1['GPN'].unique()
UniqueGPN

array(['GB012020846', 'GB012023280', 'GB012015665', 'GB012031150',
       'GB012031119', 'GB012023130', 'GB012003844', 'GB012027273',
       'GB012011226', 'GB01079831S', 'GB01053870Q', 'GB012028781',
       'GB012029090', 'GB012001142', 'GB012007994', 'GB01097894J',
       'GB012026354', 'GB012013957', 'GB012014124', 'GB01051547D',
       'GB01092796L', 'GB01091761N', 'GB01093642G', 'GB01069494R',
       'GB01079876L', 'GB012009150', 'GB012008196', 'GB012005298',
       'GB012006806', 'GB012028765', 'GB012008137', 'GB01038514K',
       'GB01039613D', 'GB01040825J', 'GB01038944Q', 'GB01097192D',
       'GB01094447N', 'GB012010258', 'GB012010323', 'GB01083685M',
       'GB012017910', 'GB012031607', 'GB012031612', 'GB012027627',
       'GB012027681', 'GB012023079', 'GB01067158J', 'GB01080836X',
       'GB01095734H', 'GB01096506Q', 'GB012032555', 'GB012033019',
       'GB012031573', 'GB012020894', 'GB012021511', 'GB01052094G',
       'GB012030966', 'GB012008960', 'GB01086270N', 'GB01090866B',
       'GB012029168', 'GB012028066', 'GB012003986', 'GB012013924',
       'GB012001333', 'GB012021549', 'GB01098647P', 'GB01080650C',
       'GB01063645Q', 'GB012025979', 'GB012008434', 'GB012008227',
       'GB012009243', 'GB012009242', 'GB012009381', 'GB012008780',
       'GB012009153', 'GB012016504', 'GB012017306', 'GB012016121',
       'GB012018054', 'GB012019410', 'GB012022560', 'GB012015815',
       'GB012029456', 'GB012027255', 'GB012007885', 'GB01085056F',
       'GB012003727', 'GB01052894H', 'GB012015900', 'GB012015265',
       'GB012003742', 'GB01038405C', 'GB01097616C', 'GB012020997',
       'GB01076766M', 'GB012020951', 'GB012012976', 'GB012012790',
       'GB01044146Q', 'GB012016188', 'GB012008126', 'GB01081535D',
       'GB01092295C', 'GB012030590', 'GB012020645', 'GB012029435',
       'GB01091729Q', 'GB012019477', 'GB012023970', 'GB012026224',
       'GB01099012E', 'GB012011775', 'GB012026713', 'GB012027820',
       'GB012028200', 'GB01086461S', 'GB012007911', 'GB012024344',
       'GB012013797', 'GB012009248', 'GB01069855C', 'GB012026632',
       'GB012001422', 'GB012027308', 'GB012019317', 'GB01094212R',
       'GB012009467', 'GB012019116', 'GB012014268', 'GB01089331P',
       'GB01098165H', 'GB012017310', 'GB012020646', 'GB012019885',
       'GB012015660', 'GB012028967', 'GB01053487F', 'GB012021619',
       'GB012028039', 'GB012020696', 'GB01091867S', 'GB01088740A',
       'GB012022955', 'GB012032807', 'GB012032625', 'GB012033034',
       'GB012029624', 'GB012012554', 'GB012028766', 'GB012027997',
       'GB012023038', 'GB01067542B', 'GB012013762', 'GB012010334',
       'GB012026178', 'GB012025984', 'GB012027750', 'GB012029529',
       'GB012021531', 'GB012029530', 'GB01054409K', 'GB012021026',
       'GB012032498', 'GB012017958', 'GB012033182', 'GB012031169',
       'GB012031267', 'GB012027200', 'GB01073934B', 'GB01094607C',
       'GB012027346', 'GB012027362', 'GB012000783', 'GB012028225',
       'GB012027133', 'GB012031595', 'GB012032569', 'GB012031601',
       'GB012020870', 'GB01080967P', 'GB012033035', 'GB012031265',
       'GB012031644', 'GB012030593', 'GB012025859', 'GB012019994',
       'GB012028779', 'GB012028420', 'GB012020863', 'GB012009784',
       'GB012013813', 'GB012026521', 'GB012027031', 'GB012015783',
       'GB012011277', 'GB012029099', 'GB012025985', 'GB012023003',
       'GB012032985'], dtype=object)

In [15]:
#Converting UniqueGPN nd-array to Dataframe and Renaming the only column to 'GPN'
UniqueGPN_df = pd.DataFrame(data=UniqueGPN)
UniqueGPN_df.columns = ['GPN']

In [16]:
# Find the unique count of employees with "  #TR tag" usage via Time Recorder this week.
TimeData1['Transaction Week End Date'] = pd.to_datetime(TimeData1['Transaction Week End Date'])
TimeData1 = TimeData1.sort_values(by='Transaction Week End Date',ascending=False) 
TimeDataUGPN = TimeData1[~TimeData1['GPN'].duplicated(keep="first")]
TRv2user = TimeDataUGPN['GPN'].nunique()
print("Total number of employees using TR version2 are",TRv2user)

Total number of employees using TR version2 are 201

In [17]:
#GPN common in UniqueGPN_df and TimeData
Common = pd.merge(UniqueGPN_df, TimeData, how='inner', on=['GPN'] )
print(Common.shape)
Common.head()

(29768, 34)

,GPN,Person Name/Code,Person SSL Code,Person Sub Area,Person SL Name/Code,Person SSL Name/Code,Person BU Name/Code,Person OU Name/Code,Person MU Name/Code,Person SMU Name/Code,...,Eng Type Class Name,Eng SL Name/Code,Eng SSL Name/Code,Eng BU Name/Code,Eng OU Name/Code,Eng MU Name/Code,Eng SMU Name/Code,Description (Trax gT&E),HRS,Codeblock
0,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,GB10201006001950208001
1,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",3.8,GB10201006001950208001
2,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,GB10201006001950208001
3,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,NON CHARGEABLE,NaN,NaN,NaN,NaN,NaN,NaN,"""ICAS TPE""",7.5,GB10201006001950208001
4,GB012020846,"""Brown,Zoe (GB012020846)""",208,UK&I,TAX (02),"""Global Compl&Reporting (GCR) (0208)""",UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),...,CHARGEABLE,TAX (02),Global Compl&Reporting (GCR) (0208),UKI - UK Tax (GB102),Global (01006),United Kingdom (00195),Global Compliance & Reporting (0208001),"""Draft email for Jessica""",0.6,GB10201006001950208001

In [18]:
# For those people flagged as â€œ#TRâ€œ tag users, what percentage of their time sheet entries have been made via EY Time Recorder.
(TD2.shape[0]/Common.shape[0])*100

70.44141359849503

In [19]:
# Find the count of employees with "  #TR tag" usage via Time Recorder this week with respect to SSL names. 
TimeDataUGPN['Person SSL Name/Code'].value_counts()

"International Tax Srvs (ITS) (0203)"    60
"Indirect Tax (0201)"                    32
"Transaction Tax (0211)"                 31
"Global Compl&Reporting (GCR) (0208)"    25
Corporate Law (0299431)                  17
"Business Tax Advisory (BTA) (0207)"     15
"Tax ACR (0217)"                         13
"Other Tax (0299)"                        7
"People Advisory Services (0206)"         1
Name: Person SSL Name/Code, dtype: int64

In [20]:
# Find the unique count of employees with "#TR tag" usage via Time Recorder this week.
TimeData2['Transaction Week End Date'] = pd.to_datetime(TimeData2['Transaction Week End Date'])
TimeData2 = TimeData2.sort_values(by='Transaction Week End Date',ascending=False) 
TimeDataUGPN1 = TimeData2[~TimeData2['GPN'].duplicated(keep="first")]
TRv2user = TimeDataUGPN['GPN'].nunique()
print("Total number of employees using TR version2 are",TRv2user)

Total number of employees using TR version2 are 201

In [21]:
# Find the count of employees with "#TR tag" usage via Time Recorder this week with respect to SSL names. 
TimeDataUGPN1['Person SSL Name/Code'].value_counts()

"International Tax Srvs (ITS) (0203)"    60
"Indirect Tax (0201)"                    33
"Transaction Tax (0211)"                 31
"Global Compl&Reporting (GCR) (0208)"    25
Corporate Law (0299431)                  17
"Business Tax Advisory (BTA) (0207)"     15
"Tax ACR (0217)"                         13
"Other Tax (0299)"                        7
"People Advisory Services (0206)"         1
Name: Person SSL Name/Code, dtype: int64